In [5]:
import pandas as pd

In [6]:
df=pd.read_csv(r"population2.csv")

In [7]:
df

,Country,Region,City,Population,Census_Year,Census_Date,Budget_USD,Actual_Spent_USD,Delay_Days,Census_Status,Supervisor,Households_Surveyed,Field_Workers,Data_Quality_Score
0,Canada,North,City_265,NaN,2017,19/12/2017,3936127.35,3972642.76,NaN,Completed,Ali Khan,1459,9,NaN
1,Canada,West,City_272,456999.0,2004,21/12/2004,559463.64,575386.34,0.0,Delayed,Ali Khan,4732,47,52.80
2,Australia,Central,City_408,518184.0,2016,12/02/2016,4222870.76,4268390.82,NaN,NaN,John Doe,2538,3,59.21
3,Brazil,West,City_475,2257172.0,2012,14/08/2012,2052730.56,2078403.77,NaN,NaN,Jane Smith,1016,46,66.05
4,Germany,Central,City_177,3201381.0,2022,16/03/2022,1589516.77,1619467.25,NaN,Completed,NaN,5867,13,77.79
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,Australia,East,City_330,3631466.0,1997,08/04/1997,NaN,1563723.43,160.0,Delayed,NaN,2782,35,56.15
9996,Canada,South,City_459,2826346.0,2019,12/12/2019,4076834.72,4106773.43,127.0,In Progress,Ali Khan,7977,8,90.58
9997,India,Central,City_403,4852977.0,2006,07/05/2006,4044345.71,4043266.20,32.0,In Progress,NaN,6983,16,52.16
9998,Canada,North,City_333,4111114.0,2019,16/04/2019,3223404.01,3220821.99,0.0,Delayed,NaN,5123,45,NaN
9999,India,South,City_309,3876888.0,2019,01/02/2019,1342473.43,1372527.82,0.0,Delayed,NaN,3881,20,93.84

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Country              10000 non-null  object
 1   Region               10000 non-null  object
 2   City                 10000 non-null  object
 3   Population           9800 non-null   float64
 4   Census_Year          10000 non-null  int64
 5   Census_Date          10000 non-null  object
 6   Budget_USD           9866 non-null   float64
 7   Actual_Spent_USD     10000 non-null  float64
 8   Delay_Days           6642 non-null   float64
 9   Census_Status        6757 non-null   object
 10  Supervisor           6725 non-null   object
 11  Households_Surveyed  10000 non-null  int64
 12  Field_Workers        10000 non-null  int64
 13  Data_Quality_Score   8996 non-null   float64
dtypes: float64(5), int64(3), object(6)
memory usage: 1.1+ MB

In [16]:
df.describe

<bound method NDFrame.describe of         Country   Region      City  Population  Census_Year Census_Date  \
0        Canada    North  City_265         NaN         2017  19/12/2017
1        Canada     West  City_272    456999.0         2004  21/12/2004
2     Australia  Central  City_408    518184.0         2016  12/02/2016
3        Brazil     West  City_475   2257172.0         2012  14/08/2012
4       Germany  Central  City_177   3201381.0         2022  16/03/2022
...         ...      ...       ...         ...          ...         ...
9995  Australia     East  City_330   3631466.0         1997  08/04/1997
9996     Canada    South  City_459   2826346.0         2019  12/12/2019
9997      India  Central  City_403   4852977.0         2006  07/05/2006
9998     Canada    North  City_333   4111114.0         2019  16/04/2019
9999      India    South  City_309   3876888.0         2019  01/02/2019

      Budget_USD  Actual_Spent_USD  Delay_Days Census_Status  Supervisor  \
0     3936127.35        3972642.76         NaN     Completed    Ali Khan
1      559463.64         575386.34         0.0       Delayed    Ali Khan
2     4222870.76        4268390.82         NaN           NaN    John Doe
3     2052730.56        2078403.77         NaN           NaN  Jane Smith
4     1589516.77        1619467.25         NaN     Completed         NaN
...          ...               ...         ...           ...         ...
9995         NaN        1563723.43       160.0       Delayed         NaN
9996  4076834.72        4106773.43       127.0   In Progress    Ali Khan
9997  4044345.71        4043266.20        32.0   In Progress         NaN
9998  3223404.01        3220821.99         0.0       Delayed         NaN
9999  1342473.43        1372527.82         0.0       Delayed         NaN

      Households_Surveyed  Field_Workers  Data_Quality_Score
0                    1459              9                 NaN
1                    4732             47               52.80
2                    2538              3               59.21
3                    1016             46               66.05
4                    5867             13               77.79
...                   ...            ...                 ...
9995                 2782             35               56.15
9996                 7977              8               90.58
9997                 6983             16               52.16
9998                 5123             45                 NaN
9999                 3881             20               93.84

[10000 rows x 14 columns]>

In [26]:
df=df.fillna(0)

In [27]:
df

,Country,Region,City,Population,Census_Year,Census_Date,Budget_USD,Actual_Spent_USD,Delay_Days,Census_Status,Supervisor,Households_Surveyed,Field_Workers,Data_Quality_Score
0,Canada,North,City_265,0.0,2017,19/12/2017,3936127.35,3972642.76,0.0,Completed,Ali Khan,1459,9,0.00
1,Canada,West,City_272,456999.0,2004,21/12/2004,559463.64,575386.34,0.0,Delayed,Ali Khan,4732,47,52.80
2,Australia,Central,City_408,518184.0,2016,12/02/2016,4222870.76,4268390.82,0.0,0,John Doe,2538,3,59.21
3,Brazil,West,City_475,2257172.0,2012,14/08/2012,2052730.56,2078403.77,0.0,0,Jane Smith,1016,46,66.05
4,Germany,Central,City_177,3201381.0,2022,16/03/2022,1589516.77,1619467.25,0.0,Completed,0,5867,13,77.79
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,Australia,East,City_330,3631466.0,1997,08/04/1997,0.00,1563723.43,160.0,Delayed,0,2782,35,56.15
9996,Canada,South,City_459,2826346.0,2019,12/12/2019,4076834.72,4106773.43,127.0,In Progress,Ali Khan,7977,8,90.58
9997,India,Central,City_403,4852977.0,2006,07/05/2006,4044345.71,4043266.20,32.0,In Progress,0,6983,16,52.16
9998,Canada,North,City_333,4111114.0,2019,16/04/2019,3223404.01,3220821.99,0.0,Delayed,0,5123,45,0.00
9999,India,South,City_309,3876888.0,2019,01/02/2019,1342473.43,1372527.82,0.0,Delayed,0,3881,20,93.84

In [31]:
filter=df["Supervisor"]==0

In [32]:
filter

0       False
1       False
2       False
3       False
4        True
        ...
9995     True
9996    False
9997     True
9998     True
9999     True
Name: Supervisor, Length: 10000, dtype: bool

In [34]:
~filter

0        True
1        True
2        True
3        True
4       False
        ...
9995    False
9996     True
9997    False
9998    False
9999    False
Name: Supervisor, Length: 10000, dtype: bool

In [39]:
df[~filter]

<class 'pandas.core.frame.DataFrame'>
Index: 6725 entries, 0 to 9996
Data columns (total 14 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Country              6725 non-null   object
 1   Region               6725 non-null   object
 2   City                 6725 non-null   object
 3   Population           6725 non-null   float64
 4   Census_Year          6725 non-null   int64
 5   Census_Date          6725 non-null   object
 6   Budget_USD           6725 non-null   float64
 7   Actual_Spent_USD     6725 non-null   float64
 8   Delay_Days           6725 non-null   float64
 9   Census_Status        6725 non-null   object
 10  Supervisor           6725 non-null   object
 11  Households_Surveyed  6725 non-null   int64
 12  Field_Workers        6725 non-null   int64
 13  Data_Quality_Score   6725 non-null   float64
dtypes: float64(5), int64(3), object(6)
memory usage: 788.1+ KB